@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    width: 350px;
    height: 215px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
}

#medialens_icon {
    vertical-align: -50%;
}

.radio-group {
    display: inline-block;
    text-align: left; 
}

input[type="radio"] {
    vertical-align: middle;
    margin: 0;
}

label {
    vertical-align: middle;
}